*.DotSettings
*.suo
*.user
*.dll
*.pdb
*.xml
*.log
*.ctf
*.cmd
*.txt
*.pdb
*.exe
*.dll
*.tlog
.vs/
.backup/
.nuget/
x64/
x86/
ipch/
Win32/
bin/
obj/
CMakeFiles/
node_modules/
packagess
Interfaces/bin/
Interfaces/obj/
Logic/bin/
Logic/obj/
Storage/bin/
Storage/obj/
WebApp/bin/
WebApp/obj/
WebView/bin/
WebView/obj/
WebApp/node_modules/


